 <!-- sunset = 'https://s3-us-west-2.amazonaws.com/aaronsprofessionalbucket/sunset.jpg?X-Amz-Date=20141121T152140Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=3b65c6f3ce6d1f6c806c9112f31601e49e4894eaf8cbdbc5d175b60d47bccd28&X-Amz-Credential=ASIAJB4W7AAW6CTCDCRA/20141121/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEGAagAJ5XJ9nxRt6NmsriYyhLGuZKkvhkVJ0X4gkNMNAv8oOxJu1NrzJwZjKWZNZGVYPKY2M0g96zFRfe29drCm098rZ7hMnWTtVr8YstJ7j7iD4blMm2dmh9xURyrjNqjiD%2BvcHovzc3r/mbNwPEz2e5Bx3EMMWpMuMlo6kXKYKecLGfH2Yd7/P7aS/%2BorEwcJ0IHSisHoUWyJiqMqkBOaHDCEufv82ejVW0dfcaEc5dwp9fe8PGCpSxeZ8P3MKjmDMeIY/eN7SL676Es%2B8bsEP2TVtpltT8RDwNUnzrgylosd5mgOALsWxiyHAH1e1KYwRoWWb%2BYlAXK6/flPLr3bQxj0yIIugvaMF' -->

<div id="home">
  <%= image_tag @image.image.url(:original) %>
</div>
