<%= image_tag 'https://s3-us-west-2.amazonaws.com/aaronsprofessionalbucket/development/images/5/4b6a1aa9030e158888e079fba8f85519837f86d3-original.jpg', class: 'image' %>

<div id="home-comment">
  Here at Mountain Madness, we take your adrenaline addiction seriously. And we take your relaxing ride just as seriously. Lets ride this country together.

</div>
