<%= image_tag 'https://s3-us-west-2.amazonaws.com/aaronsprofessionalbucket/development/images/4/1b9ed5cc7e81a238629bd1fa2297c77ffe2b52e2-original.jpg?X-Amz-Date=20141202T032427Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=7f8039cabb15bc730c5f6778cdb8fb2ae6073d04eedcd0c1506ece12939812d7&X-Amz-Credential=ASIAJLYLGTI3RGFMYUMQ/20141202/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEGwagAIv7VWJMB3AvFpMxNGDqqCSJF1IJ1yTFF2T/ZppTz2S8JNaHarUvFxSBC5y5Zfwk2Iqs0I3D0V4uWl/BBICO/XM%2BDA93eb60B/DwpgRoFWEj6PrxdQcjadnKGgjZv3Bhl5aZpV5QbF4IDkP5rT7fUnvoPYW%2B9k840BA3Km%2BhVj3Sf6jHQ0L1aY8DKlQwgOdni5HKUQRefqcSkZ2yzyTclqfIeB1iAVcSZtq12i49ZAliy9bbxC2z%2ByWseMaZhovEOuWsriQPXXchQCi5VK9pAFWIZ6wX7VEvR6glhMxmRSgKJucvCjEHkdk1bylv%2BlYtX8FsaAGe8A2Mg9%2BxJngyRqUIIrg9KMF', class: 'image' %>

<div id="home-comment">
  Here at Mountain Madness, we take your adrenaline addiction seriously. And we take your relaxing ride just as seriously. Lets ride this country together.

</div>
