<%= image_tag Image.second.image(:original), class: 'image' %>

<div id="home-comment">
  Here at Mountain Madness, we take your adrenaline addiction seriously. And we take your relaxing ride just as seriously. Lets ride this country together.

</div>
