// Place all the styles related to the trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#trail-info {
  margin-top: 50px;
  margin-bottom: 20px;
  border: solid;
  margin-right: 35px;
  margin-left: 55px;
  border-radius: 20px;
  list-style-type: none;
  box-shadow: 5px 5px 5px black;
  padding: 10px;
  background-color: white;
  h2 {
    text-align: center;
    text-shadow: 3px 3px 3px LightSteelBlue;
  }
}
